<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewData["Title"] - Taskly</title>
    <link rel="stylesheet" href="~/css/dashboard.css" />
    <link rel="stylesheet" href="~/css/create-task.css" />
</head>
<body>
    <div class="dashboard-container">
        <!-- Sidebar -->
        <div class="sidebar">
            <div>
                <img src="~/images/new.png" class="logo-img" />
            </div>
            <hr class="sidebar-line" />
            @* <div class="menu">
                <a asp-controller="Tasks" asp-action="Index" class="@(ViewData["Title"]?.ToString() == "Dashboard" ? "active" : "")">Dashboard</a>
                <a asp-controller="Tasks" asp-action="Create" class="@(ViewData["Title"]?.ToString() == "Create Task" ? "active" : "")">Tasks</a>
            </div> *@
            <div class="menu">
                <a asp-controller="Dashboard" asp-action="Index"
                   class="menu-item @(ViewData["Title"]?.ToString() == "Dashboard" ? "active" : "")">
                    <img src="~/images/DashboardLayout.png" class="menu-icon" />
                    <span>Dashboard</span>
                </a>


                <a asp-controller="Tasks" asp-action="ViewTasks"
                   class="menu-item @(ViewData["Title"]?.ToString() == "All Tasks" ? "active" : "")">
                    <img src="~/images/ToDo.png" class="menu-icon" />
                    <span>Tasks</span>
                </a>
            </div>

        </div>

        <!-- Main Content -->
        <div class="main-content">
            <div class="header">
                <div>
                    <h2 class="h3-text">Good morning pristal</h2>
                    <p class="p-text">@DateTime.Now.ToString("dddd, dd'th' MMMM")</p>
                </div>
                <div class="header-actions">
                    <a class="create-task-btn" asp-controller="Tasks" asp-action="Create">+ Create Task</a>
                    <img src="~/images/user.png" class="user-img" />
                </div>
            </div>
            <hr class="bar-line" />

            <!-- Content from the specific view will go here -->
            @RenderBody()                                                                                                                          
        </div>
    </div>
    <script src="/_framework/aspnetcore-browser-refresh.js"></script>

</body>
</html>
